# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [3]:
import pandas as pd
import numpy as np

In [6]:
lab_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

# Convertir los nombres de las columnas a minúsculas
lab_df.columns = lab_df.columns.str.lower()

# Reemplazar espacios en blanco por guiones bajos
lab_df.columns = lab_df.columns.str.replace(' ', '_', regex=True)

# Reemplazar "st" por "state"
lab_df.columns = lab_df.columns.str.replace(r'\bst\b', 'state', regex=True)

# Verificar los nombres de las columnas actualizados
print(lab_df.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [7]:
# Imprimir los valores únicos de las columnas relevantes
print("Unique values in 'gender' column:")
print(lab_df['gender'].unique())

print("\nUnique values in 'state' column:")
print(lab_df['state'].unique())

print("\nUnique values in 'education' column:")
print(lab_df['education'].unique())

print("\nUnique values in 'customer_lifetime_value' column:")
print(lab_df['customer_lifetime_value'].unique())

print("\nUnique values in 'vehicle_class' column:")
print(lab_df['vehicle_class'].unique())

Unique values in 'gender' column:
[nan 'F' 'M' 'Femal' 'Male' 'female']

Unique values in 'state' column:
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]

Unique values in 'education' column:
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]

Unique values in 'customer_lifetime_value' column:
[nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']

Unique values in 'vehicle_class' column:
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [13]:
# Establecer las transformaciones para cada columna

# 1. Estandarizar la columna 'gender'
lab_df['gender'] = lab_df['gender'].replace({
    'Femal': 'F',
    'female': 'F',
    'Male': 'M',
    'M': 'M',
    'F': 'F'
})

# 2. Reemplazar abreviaturas de estados por su nombre completo
state_map = {
    'AZ': 'Arizona',
    'Cali': 'California',
    'WA': 'Washington'
}
lab_df['state'] = lab_df['state'].replace(state_map)

# 3. Establecer "Bachelors" como "Bachelor" en la columna 'education'
lab_df['education'] = lab_df['education'].replace('Bachelors', 'Bachelor')

# 4. Eliminar el carácter '%' de la columna 'customer_lifetime_value'
lab_df['customer_lifetime_value'] = lab_df['customer_lifetime_value'].replace('%', '', regex=True)

# 5. Reemplazar valores en 'vehicle_class'
lab_df['vehicle_class'] = lab_df['vehicle_class'].replace({
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
})

# Imprimir los valores únicos de las columnas relevantes
print("Unique values in 'gender' column:")
print(lab_df['gender'].unique())

print("\nUnique values in 'state' column:")
print(lab_df['state'].unique())

print("\nUnique values in 'education' column:")
print(lab_df['education'].unique())

print("\nUnique values in 'customer_lifetime_value' column:")
print(lab_df['customer_lifetime_value'].unique())

print("\nUnique values in 'vehicle_class' column:")
print(lab_df['vehicle_class'].unique())

Unique values in 'gender' column:
[nan 'F' 'M']

Unique values in 'state' column:
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' nan]

Unique values in 'education' column:
['Master' 'Bachelor' 'High School or Below' 'College' 'Doctor' nan]

Unique values in 'customer_lifetime_value' column:
[nan '697953.59' '1288743.17' ... '2031499.76' '323912.47' '899704.02']

Unique values in 'vehicle_class' column:
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury' nan]

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [14]:
lab_df['customer_lifetime_value'] = pd.to_numeric(lab_df['customer_lifetime_value'], errors='coerce')

# 2. Corregir el formato de 'number_of_open_complaints'
# Usamos split para extraer la parte central del formato '1/5/00' (debería ser '5' en este caso)
lab_df['number_of_open_complaints'] = lab_df['number_of_open_complaints'].apply(lambda x: str(x).split('/')[1] if isinstance(x, str) else x)

# Convertir 'number_of_open_complaints' a tipo numérico
lab_df['number_of_open_complaints'] = pd.to_numeric(lab_df['number_of_open_complaints'], errors='coerce')

# Verificar los valores únicos después de las transformaciones
print("\nUnique values in 'customer_lifetime_value' column:")
print(lab_df['customer_lifetime_value'].unique())

print("\nUnique values in 'number_of_open_complaints' column:")
print(lab_df['number_of_open_complaints'].unique())

Unique values in 'customer_lifetime_value' column:
[       nan  697953.59 1288743.17 ... 2031499.76  323912.47  899704.02]

Unique values in 'number_of_open_complaints' column:
[ 0.  2.  1.  3.  5.  4. nan]

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [16]:
# 1. Identificar las columnas con valores nulos
null_values = lab_df.isnull().sum()
print("\nNúmero de valores nulos por columna:")
print(null_values)

# 2. Estrategia para manejar los valores nulos:
# Llenar los valores nulos en columnas numéricas con la media
numeric_columns = lab_df.select_dtypes(include=['float64', 'int64']).columns
lab_df[numeric_columns] = lab_df[numeric_columns].fillna(lab_df[numeric_columns].mean())

# Llenar los valores nulos en columnas categóricas con la moda
categorical_columns = lab_df.select_dtypes(include=['object']).columns
for col in categorical_columns:
    lab_df[col] = lab_df[col].fillna(lab_df[col].mode()[0])

# 3. Verificar que los valores nulos hayan sido manejados
null_values_after = lab_df.isnull().sum()
print("\nNúmero de valores nulos por columna después de manejar los nulos:")
print(null_values_after)

# 4. Convertir todas las columnas numéricas a enteros
lab_df[numeric_columns] = lab_df[numeric_columns].apply(pd.to_numeric, downcast='integer', errors='coerce')

# Verificar el tipo de las columnas después de la conversión
print("\nTipos de datos después de convertir las columnas numéricas a enteros:")
print(lab_df.dtypes)

Número de valores nulos por columna:
customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

Número de valores nulos por columna después de manejar los nulos:
customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

Tipos de datos después de convertir las columnas numéricas a enteros:
customer                     object
state                        object
gender                       object
education                    object
customer_lifetime_value       int32
income                        int32
monthly_premium_auto          int32
number_of_open_complaints     int32
policy_type                  object
vehicle_class                object
total_claim_amount            int32
dtype: object

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [19]:
duplicates = lab_df.duplicated()
print("\nFilas duplicadas:")
print(duplicates.sum())

lab_df_cleaned = lab_df.drop_duplicates(keep='first')

duplicates_after = lab_df_cleaned.duplicated()
print("\nFilas duplicadas después de eliminar:")
print(duplicates_after.sum())

lab_df_cleaned.reset_index(drop=True, inplace=True)

lab_df_cleaned.to_csv("lab_df_cleaned.csv", index=False)

print("\nPrimeras 5 filas después de eliminar duplicados:")
print(lab_df_cleaned.head())

print("\nÚltimas 5 filas después de eliminar duplicados:")
print(lab_df_cleaned.tail())

Filas duplicadas:
2936

Filas duplicadas después de eliminar:
0

Primeras 5 filas después de eliminar duplicados:
  customer       state gender             education  customer_lifetime_value  \
0  RB50392  Washington      F                Master                   588174
1  QZ44356     Arizona      F              Bachelor                   697953
2  AI49188      Nevada      F              Bachelor                  1288743
3  WW63253  California      M              Bachelor                   764586
4  GA49547  Washington      M  High School or Below                   536307

   income  monthly_premium_auto  number_of_open_complaints     policy_type  \
0       0                  1000                          0   Personal Auto
1       0                    94                          0   Personal Auto
2   48767                   108                          0   Personal Auto
3       0                   106                          0  Corporate Auto
4   36357                    68                          0   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car                   2
1  Four-Door Car                1131
2   Two-Door Car                 566
3            SUV                 529
4  Four-Door Car                  17

Últimas 5 filas después de eliminar duplicados:
     customer       state gender             education  \
1067  VJ51327  California      F  High School or Below
1068  GS98873     Arizona      F              Bachelor
1069  CW49887  California      F                Master
1070  MY31220  California      F               College
1071  AA71604  California      F              Bachelor

      customer_lifetime_value  income  monthly_premium_auto  \
1067                  2031499   63209                   102
1068                   323912   16061                    88
1069                   462680   79487                   114
1070                   899704   54230                   112
1071                   588174   36234                    83

      number_of_open_complaints    policy_type  vehicle_class  \
1067                          2  Personal Auto            SUV
1068                          0  Personal Auto  Four-Door Car
1069                          0   Special Auto            SUV
1070                          0  Personal Auto   Two-Door Car
1071                          0  Personal Auto  Four-Door Car

      total_claim_amount
1067                 207
1068                 633
1069                 547
1070                 537
1071                 354

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [25]:
import pandas as pd

def load_data(url):
    """
    Loads the dataset from a given URL.
    """
    return pd.read_csv(url)

def clean_column_names(df):
    """
    Cleans the column names by making them lowercase and replacing spaces with underscores.
    """
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace(' ', '_', regex=True)
    df.columns = df.columns.str.replace(r'\bst\b', 'state', regex=True)
    return df

def standardize_values(df):
    """
    Standardizes specific columns by correcting values.
    """
    # Standardize gender values
    df['gender'] = df['gender'].replace({
        'Femal': 'F', 'female': 'F', 'Male': 'M', 'M': 'M', 'F': 'F'
    })

    # Replace state abbreviations with full names
    state_map = {
        'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'
    }
    df['state'] = df['state'].replace(state_map)

    # Set education values to a consistent format
    df['education'] = df['education'].replace('Bachelors', 'Bachelor')

    # Remove '%' from customer_lifetime_value
    df['customer_lifetime_value'] = df['customer_lifetime_value'].replace('%', '', regex=True)

    # Replace vehicle class values
    df['vehicle_class'] = df['vehicle_class'].replace({
        'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'
    })
    return df


def convert_to_numeric(df):
    """
    Converts 'customer_lifetime_value' to numeric and handles errors.
    """
    df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')
    return df

def correct_complaints_format(df):
    """
    Extracts the relevant part from 'number_of_open_complaints' and converts it to numeric.
    """
    df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(lambda x: str(x).split('/')[1] if isinstance(x, str) else x)
    df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce')
    return df

def handle_missing_values(df):
    """
    Handles missing values by filling them with mean (for numeric) or mode (for categorical).
    """
    # Fill missing numeric columns with the mean
    numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns
    df[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].mean())

    # Fill missing categorical columns with the mode
    categorical_columns = df.select_dtypes(include=['object']).columns
    for col in categorical_columns:
        df[col] = df[col].fillna(df[col].mode()[0])

    return df

def convert_columns_to_int(df):
    """
    Converts numeric columns to integers.
    """
    numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns
    df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, downcast='integer', errors='coerce')
    return df

from data_cleaning import load_data, clean_column_names, standardize_values
from data_transformations import convert_to_numeric, correct_complaints_format, handle_missing_values, convert_columns_to_int

def main():
    # Load the dataset
    url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
    df = load_data(url)

    # Clean and format the dataset
    df = clean_column_names(df)
    df = standardize_values(df)
    df = convert_to_numeric(df)
    df = correct_complaints_format(df)
    df = handle_missing_values(df)
    df = convert_columns_to_int(df)

    # Display the cleaned data
    print(df.head())
    df.to_csv("lab_df_cleaned.csv", index=False)

if __name__ == "__main__":
    main()

%load_ext autoreload
%autoreload 2

ModuleNotFoundError: No module named 'data_cleaning'

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [27]:
lab_df_cleaned = pd.read_csv("lab_df_cleaned.csv")

print("Summary statistics for total claim amount and customer lifetime value:")
print(lab_df_cleaned[['total_claim_amount', 'customer_lifetime_value']].describe())

high_claim_threshold = lab_df_cleaned['total_claim_amount'].quantile(0.75)  # 75th percentile
low_clv_threshold = lab_df_cleaned['customer_lifetime_value'].quantile(0.25)  # 25th percentile

high_claim_low_clv_df = lab_df_cleaned[
    (lab_df_cleaned['total_claim_amount'] > high_claim_threshold) &
    (lab_df_cleaned['customer_lifetime_value'] < low_clv_threshold)
]

print("\nSummary statistics for high policy claim amount and low customer lifetime value:")
print(high_claim_low_clv_df[['total_claim_amount', 'customer_lifetime_value']].describe())

print("\nCustomers with high claim amount and low customer lifetime value:")
print(high_claim_low_clv_df.head())

Summary statistics for total claim amount and customer lifetime value:
       total_claim_amount  customer_lifetime_value
count         1072.000000             1.072000e+03
mean           404.481343             7.929229e+05
std            292.909076             6.423980e+05
min              0.000000             2.004350e+05
25%            201.750000             4.054045e+05
50%            354.000000             5.881740e+05
75%            532.000000             8.937668e+05
max           2893.000000             5.816655e+06

Summary statistics for high policy claim amount and low customer lifetime value:
       total_claim_amount  customer_lifetime_value
count           40.000000                40.000000
mean           723.300000            341577.425000
std            149.216449             56921.466178
min            537.000000            228759.000000
25%            632.750000            304220.500000
50%            685.000000            365995.000000
75%            799.000000            387364.000000
max           1185.000000            402381.000000

Customers with high claim amount and low customer lifetime value:
   customer       state gender education  customer_lifetime_value  income  \
17  OE15005  California      F   College                   394524   28855
23  TZ98966      Nevada      F  Bachelor                   245019       0
26  US89481  California      F  Bachelor                   394637       0
38  CM61827      Oregon      F  Bachelor                   309003       0
42  IL19217  California      F  Bachelor                   393900   60021

    monthly_premium_auto  number_of_open_complaints     policy_type  \
17                   101                          0   Personal Auto
23                    73                          3  Corporate Auto
26                   111                          0   Personal Auto
38                    90                          0   Personal Auto
42                    99                          0   Personal Auto

    vehicle_class  total_claim_amount
17            SUV                 647
23  Four-Door Car                 554
26  Four-Door Car                 799
38   Two-Door Car                 648
42  Four-Door Car                 882